/* src/pages/MealsPage.css */

.meals-page {
  padding: 2.5rem;
  background: linear-gradient(to bottom right, var(--color-background-alt), var(--color-background));
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 1s ease-in;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid var(--color-borders);
}

.meals-page h2 {
  color: var(--color-text-dark);
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
  animation: slideInFromLeft 1s ease-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 0.5rem;
  width: fit-content;
}

.meals-description {
  color: var(--color-text);
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  animation: slideInFromRight 1s ease-out;
  letter-spacing: 0.3px;
  max-width: 800px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
