/* src/components/common/Button.css */

.common-button {
    background-color: var(--color-cta-buttons); /* Coral */
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .common-button:hover {
    background-color: #e65b50; /* Darker shade of Coral for hover effect */
  }
  
  .common-button:disabled {
    background-color: #ffb3ab; /* Lighter Coral for disabled state */
    cursor: not-allowed;
  }
  